Repository stayawaysoftware/backend, pull requests merged in 2023-11, with the labels that each got.

#81 SAS-333
  src/core/game.py
  src/main.py
  src/routes/game.py
  tests/test_core_game_winner.py
Labels: bug, game

#82 SAS-304
  src/core/game.py
  src/main.py
  src/routes/game.py
  tests/test_core_game_winner.py
Labels: game, api, reorganization

#80 SAS 332 - Organizar manejo de efectos (Game Action) y sus respectivos tests
  Makefile
  src/core/effects.py
  src/core/game.py
  src/core/game_logic/card.py
  src/core/game_logic/card_creation.py
  src/core/game_logic/deck.py
  src/core/game_logic/effects/analysis_effect.py
  src/core/game_logic/effects/change_of_position_effect.py
  src/core/game_logic/effects/effect_handler.py
  src/core/game_logic/effects/exchange_effect.py
  src/core/game_logic/effects/flamethrower_effect.py
  src/core/game_logic/effects/nothing_effect.py
  src/core/game_logic/effects/suspicion_effect.py
  src/core/game_logic/effects/watch_your_back_effect.py
  src/core/game_logic/effects/whisky_effect.py
  src/core/game_logic/game_action.py
  src/core/game_logic/game_effects.py
  src/core/game_logic/game_utility.py
  src/core/game_utility.py
  src/core/player.py
  src/routes/socket.py
  tests/__init__.py
  tests/game_logic_tests/__init__.py
  tests/game_logic_tests/effects_tests/__init__.py
  tests/game_logic_tests/effects_tests/test_effect_analysis.py
  tests/game_logic_tests/effects_tests/test_effect_change_of_position.py
  tests/game_logic_tests/effects_tests/test_effect_exchange.py
  tests/game_logic_tests/effects_tests/test_effect_flamethrower.py
  tests/game_logic_tests/effects_tests/test_effect_invalid_effect.py
  tests/game_logic_tests/effects_tests/test_effect_nothing.py
  tests/game_logic_tests/effects_tests/test_effect_seduction.py
  tests/game_logic_tests/effects_tests/test_effect_suspicion.py
  tests/game_logic_tests/effects_tests/test_effect_watch_your_back.py
  tests/game_logic_tests/effects_tests/test_effect_whisky.py
  tests/game_logic_tests/effects_tests/test_effect_you_better_run.py
  tests/game_logic_tests/test_BD_card.py
  tests/game_logic_tests/test_BD_deck.py
  tests/game_logic_tests/test_logic_card_creation.py
  tests/game_logic_tests/test_logic_game_action.py
  tests/game_logic_tests/test_logic_game_utility.py
  tests/test_core_effects.py
Labels: card, reorganization, database, deck, game logic

#83 SAS 342 - Implementar función draw_no_panic()
  src/core/effect_handler.py
  src/core/game.py
  src/core/game_logic/game_effects.py
  src/core/game_logic/game_utility.py
  src/core/game_utility.py
  src/core/player.py
  src/schemas/game.py
  src/schemas/socket.py
  tests/game_logic_tests/test_logic_game_utility.py
  tests/test_core_game_winner.py
Labels: game, game logic

#85 SAS 343 - Implementar función get_defense_cards()
  src/core/game_logic/game_effects.py
  tests/game_logic_tests/test_logic_game_effects.py
  tests/game_logic_tests/test_logic_game_utility.py
Labels: game, game logic

#84 SAS 345 - Implementar función de draw de carta de idtype específico
  src/core/game_logic/deck.py
  src/core/game_logic/game_utility.py
  src/core/game_utility.py
  tests/game_logic_tests/test_logic_game_utility.py
Labels: game, card, database, deck, game logic

#86 SAS-305
  src/core/game.py
  tests/test_core_game.py
Labels: bug, game

#88 SAS 310 - Implementar función para asociar cartas a un jugador como "mano inicial" para la partida
  src/core/game.py
  src/core/game_logic/game_utility.py
  src/core/player.py
  tests/game_logic_tests/test_logic_game_utility.py
Labels: game, game logic

#87 SAS-309
  .gitignore
  Makefile
  configs/requirements-test.txt
  src/core/game.py
  src/core/room.py
  src/core/user.py
  src/routes/room.py
  src/routes/socket.py
  src/routes/user.py
  src/schemas/card.py
  src/schemas/game.py
  src/schemas/player.py
  src/schemas/room.py
  src/schemas/socket.py
  src/schemas/validators.py
  tests/test_core_game.py
  tests/test_core_user.py
Labels: reorganization, tools

#90 SAS-310 Fixeado init_players para que, además. el 1er jugador en juga…
  src/core/game.py
Labels: bug, game, game logic

#91 SAS 360 - Implementar método para saber vecinos vivos de un player en una partida
  src/core/player.py
  tests/test_core_player.py
Labels: game, player

#93 SAS-306
  src/core/effect_handler.py
  src/core/game.py
  src/routes/socket.py
  src/schemas/socket.py
  tests/test_core_game.py
Labels: bug, game

#94 Sas 338
  src/core/effect_handler.py
  src/core/game.py
  src/core/game_logic/game_utility.py
  src/models/game.py
  src/routes/socket.py
  src/schemas/socket.py
Labels: game, card, game logic

#92 SAS 344 - Refactorizar manejo, implementación y mensajes de efectos
  src/core/game.py
  src/core/game_logic/effects/analysis_effect.py
  src/core/game_logic/effects/change_of_position_effect.py
  src/core/game_logic/effects/effect_handler.py
  src/core/game_logic/effects/exchange_effect.py
  src/core/game_logic/effects/flamethrower_effect.py
  src/core/game_logic/effects/nothing_effect.py
  src/core/game_logic/effects/suspicion_effect.py
  src/core/game_logic/effects/watch_your_back_effect.py
  src/core/game_logic/effects/whisky_effect.py
  src/core/game_logic/game_action.py
  src/core/game_logic/game_effects.py
  tests/__init__.py
  tests/game_logic_tests/effects_tests/test_effect_analysis.py
  tests/game_logic_tests/effects_tests/test_effect_change_of_position.py
  tests/game_logic_tests/effects_tests/test_effect_exchange.py
  tests/game_logic_tests/effects_tests/test_effect_flamethrower.py
  tests/game_logic_tests/effects_tests/test_effect_invalid_effect.py
  tests/game_logic_tests/effects_tests/test_effect_nothing.py
  tests/game_logic_tests/effects_tests/test_effect_seduction.py
  tests/game_logic_tests/effects_tests/test_effect_suspicion.py
  tests/game_logic_tests/effects_tests/test_effect_watch_your_back.py
  tests/game_logic_tests/effects_tests/test_effect_whisky.py
  tests/game_logic_tests/effects_tests/test_effect_you_better_run.py
  tests/game_logic_tests/test_logic_game_action.py
  tests/game_logic_tests/test_logic_game_effects.py
Labels: game, game logic

#97 SAS 315 - Conexión de Game con Play() para realizar los efectos de las cartas
  src/core/effect_handler.py
  src/core/game.py
  src/core/game_logic/effects/analysis_effect.py
  src/core/game_logic/effects/change_of_position_effect.py
  src/core/game_logic/effects/effect_handler.py
  src/core/game_logic/effects/exchange_effect.py
  src/core/game_logic/effects/flamethrower_effect.py
  src/core/game_logic/effects/suspicion_effect.py
  src/core/game_logic/effects/watch_your_back_effect.py
  src/core/game_logic/effects/whisky_effect.py
  src/core/game_logic/game_effects.py
  src/core/game_logic/game_utility.py
  src/schemas/socket.py
  tests/__init__.py
  tests/game_logic_tests/effects_tests/test_effect_analysis.py
  tests/game_logic_tests/effects_tests/test_effect_exchange.py
  tests/game_logic_tests/effects_tests/test_effect_suspicion.py
  tests/game_logic_tests/effects_tests/test_effect_whisky.py
  tests/game_logic_tests/test_logic_game_effects.py
  tests/test_core_game.py
Labels: game, game logic

#99 SAS-367
  src/core/effects.py
  src/core/game.py
  src/core/room.py
  src/routes/socket.py
Labels: enhancement, tools

#100 v3.0
  .gitignore
  Makefile
  configs/requirements-test.txt
  src/core/effect_handler.py
  src/core/effects.py
  src/core/game.py
  src/core/game_action.py
  src/core/game_logic/card.py
  src/core/game_logic/card_creation.py
  src/core/game_logic/deck.py
  src/core/game_logic/effects/analysis_effect.py
  src/core/game_logic/effects/change_of_position_effect.py
  src/core/game_logic/effects/effect_handler.py
  src/core/game_logic/effects/exchange_effect.py
  src/core/game_logic/effects/flamethrower_effect.py
  src/core/game_logic/effects/suspicion_effect.py
  src/core/game_logic/effects/watch_your_back_effect.py
  src/core/game_logic/effects/whisky_effect.py
  src/core/game_logic/game_effects.py
  src/core/game_logic/game_utility.py
  src/core/game_utility.py
  src/core/player.py
  src/core/room.py
  src/core/user.py
  src/main.py
  src/models/game.py
  src/routes/game.py
  src/routes/room.py
  src/routes/socket.py
  src/routes/user.py
  src/schemas/card.py
  src/schemas/game.py
  src/schemas/player.py
  src/schemas/room.py
  src/schemas/socket.py
  src/schemas/validators.py
  tests/__init__.py
  tests/game_logic_tests/__init__.py
  tests/game_logic_tests/effects_tests/__init__.py
  tests/game_logic_tests/effects_tests/test_effect_analysis.py
  tests/game_logic_tests/effects_tests/test_effect_change_of_position.py
  tests/game_logic_tests/effects_tests/test_effect_exchange.py
  tests/game_logic_tests/effects_tests/test_effect_flamethrower.py
  tests/game_logic_tests/effects_tests/test_effect_suspicion.py
  tests/game_logic_tests/effects_tests/test_effect_watch_your_back.py
  tests/game_logic_tests/effects_tests/test_effect_whisky.py
  tests/game_logic_tests/test_BD_card.py
  tests/game_logic_tests/test_BD_deck.py
  tests/game_logic_tests/test_logic_card_creation.py
  tests/game_logic_tests/test_logic_game_effects.py
  tests/game_logic_tests/test_logic_game_utility.py
  tests/test_core_effects.py
  tests/test_core_game.py
  tests/test_core_game_action.py
  tests/test_core_player.py
  tests/test_core_user.py
Labels: game
